* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* shared styles */
body {
  font-family: "Lato", sans-serif;
}

/* banner section styles */

.banner {
  width: 1920px;
  height: 850px;
  background: rgba(229, 84, 115, 0.1);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 240px;
  padding-right: 240px;
  gap: 97px;
}

.banner-title {
  width: 708px;
  color: #272727;
  font-family: Lato;
  font-size: 80px;
  font-weight: 900;
}

.banner-description {
  width: 634px;
  color: rgba(39, 39, 39, 0.6);
  font-family: Lato;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  margin-top: 32px;
  margin-bottom: 32px;
}

.banner-btn {
  width: 177px;
  height: 64px;
  border-radius: 8px;
  background: #e55473;
  color: #fff;
  font-family: Lato;
  font-size: 20px;
  font-weight: 700;
  border: 0;
  padding: 20px 43px;
}

.img-banner {
  width: 635px;
  height: 800px;
  margin-top: 50px;
}

/* featured section style */
.featured-section {
  width: 1920px;
  height: 1090px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.featured-title {
  color: #272727;
  text-align: center;
  font-family: Lato;
  font-size: 40px;
  font-weight: 900;
}

.featured-description {
  width: 594px;
  height: 60px;
  color: rgba(39, 39, 39, 0.6);
  text-align: center;
  font-family: Lato;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  margin-top: 24px;
  margin-bottom: 48px;
}

.featured-item-container {
  display: flex;
  gap: 24px;
}

.item-img-box {
  width: 464px;
  height: 538px;
  border-radius: 300px 300px 0px 0px;
  position: relative;
}

.featured-box-1 {
  background: rgba(167, 33, 98, 0.15);
}

.featured-box-2 {
  background: rgba(5, 151, 160, 0.15);
}

.featured-box-3 {
  background: rgba(71, 125, 17, 0.15);
}
.item-img-1 {
  width: 310px;
  height: 428px;
  position: absolute;
  bottom: 0px;
  left: 76px;
}

.item-img-2 {
  width: 370px;
  height: 370px;
  position: absolute;
  bottom: 51px;
  left: 47px;
}

.item-img-3 {
  width: 314px;
  height: 471px;
  position: absolute;
  bottom: 0;
  left: 75px;
}

.item-name {
  color: #272727;
  text-align: center;
  font-family: Lato;
  font-size: 24px;
  font-weight: 700;
  line-height: 35px;
  text-decoration-line: underline;
  margin-top: 32px;
}

/* advantage section style */
.advantage-section {
  width: 1440px;
  height: 320px;
  border-radius: 8px;
  background: rgba(39, 39, 39, 0.05);
  margin: 0px auto 128px auto;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 100px;
}

.advantage-img {
  height: 88px;
  width: 88px;
}

.advantage-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.advantage-description {
  color: rgba(39, 39, 39, 0.8);
  font-family: Lato;
  font-size: 24px;
  font-weight: 700;
  line-height: 35px;
}

/* sale section style */
.sale-section {
  width: 1920px;
  height: 620px;
  border-radius: 8px;
  background: rgba(229, 84, 115, 0.05);
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.sale-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 390px;
  text-align: center;
}

.sale-title {
  width: 537px;
  color: #272727;
  font-family: Lato;
  font-size: 40px;
  font-weight: 900;
}

.sale-description {
  width: 594px;
  color: rgba(39, 39, 39, 0.6);
  text-align: center;
  font-family: Lato;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  margin-top: 24px;
  margin-bottom: 32px;
}

.sale-btn {
  width: 155px;
  height: 64px;
  border-radius: 8px;
  background: #e55473;
  border: 0;
  padding: 20px 40px;
  color: #fff;
  font-family: Lato;
  font-size: 20px;
  font-weight: 700;
}

.sale-right {
  margin-right: 430px;
}

.img-sale {
  width: 318px;
  height: 420px;
}

/* Instagram Section Style */

.instagram-section {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.instagram-title {
  color: #272727;
  text-align: center;
  font-family: Lato;
  font-size: 40px;
  font-weight: 900;
  margin-top: 128px;
  margin-bottom: 24px;
}

.instagram-description {
  width: 594px;
  color: rgba(39, 39, 39, 0.6);
  text-align: center;
  font-family: Lato;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  margin-bottom: 48px;
}

.instagram-item-container {
  display: flex;
  gap: 24px;
  margin-left: 240px;
  margin-right: 240px;
  margin-bottom: 128px;
}

.instagram-img {
  width: 342px;
  height: 396px;
  object-fit: contain;
}

/* latest deal style */

.latest-deal-section {
  width: 1440px;
  height: 449px;
  background: url("./flower-asset/rectangle-9.png");
  background-repeat: no-repeat;
  margin: 0 240px;
  padding-top: 122px;
  padding-bottom: 122px;
}

.latest-deal-title {
  color: #272727;
  text-align: center;
  font-family: Lato;
  font-size: 40px;
  font-weight: 900;
}

.latest-deal-description {
  color: rgba(39, 39, 39, 0.6);
  text-align: center;
  font-family: Lato;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  margin-top: 16px;
  margin-bottom: 48px;
}

input[type="email"] {
  width: 700px;
  height: 64px;
  border-radius: 8px;
  background: #fff;
  border: 0;
  padding: 22px;
  color: rgba(39, 39, 39, 0.6);
  font-family: Lato;
  font-size: 18px;
  font-weight: 400;
}
.latest-deal-field {
  text-align: center;
}

.latest-deal-btn {
  width: 150px;
  height: 64px;
  border-radius: 8px;
  background: #e55473;
  border: 0;
  color: #fff;
  font-family: Lato;
  font-size: 20px;
  font-weight: 700;
  padding: 18px 30px;
  margin-left: 16px;
}

/* feedback section style */
.feedback-section {
  width: 1440px;
  height: 450px;
  border-radius: 8px;
  background: rgba(229, 84, 115, 0.05);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 24px;
  margin: 80px auto 128px auto;
}

.feedback-header {
  color: #272727;
  text-align: center;
  font-family: Lato;
  font-size: 30px;
  font-weight: 700;
}

.feedback-title {
  color: #272727;
  text-align: center;
  font-family: Lato;
  font-size: 40px;
  font-weight: 700;
}

.feedback-description {
  color: rgba(39, 39, 39, 0.6);
  text-align: center;
  font-family: Lato;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  width: 80%;
}

.feedback-author {
  color: #272727;
  text-align: center;
  font-family: Lato;
  font-size: 20px;
  font-weight: 400;
}

.feedback-btn {
  width: 220px;
  height: 64px;
  border-radius: 8px;
  background: #e55473;
  border: 0;
  color: #fff;
  font-family: Lato;
  font-size: 20px;
  font-weight: 700;
  padding: 18px 15px;
  margin-left: 16px;
}

/* footer style */

footer {
  margin-top: 128px;
  width: 1920px;
  height: 450px;
  background: #111010;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer-title {
  color: #e55473;
  font-family: Lato;
  font-size: 48px;
  font-weight: 900;
}

.footer-description {
  width: 625px;
  color: rgba(255, 255, 255, 0.9);
  text-align: center;
  font-family: Lato;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  margin-top: 24px;
  margin-bottom: 32px;
}

.footer-end {
  width: 355px;
  height: 20px;
  color: rgba(255, 255, 255, 0.4);
  text-align: center;
  font-family: Lato;
  font-size: 16px;
  font-weight: 400;
}
